* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.3rem;
	height: 0.2rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-color: #393e46;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.pagination {
	font-size: 1.5rem;
	display: flex;
	gap: 1rem;
	list-style-type: none;  
	margin: 0 auto;
	align-items: center;
}

.active, .page-item:hover {
	background: #4b5563;
	color: whitesmoke;
	font-weight: 600;
}

.page-item {
	border: 1px solid #4b5563;
	padding: 0 .5rem;
	border-radius: 8px;
}

.breakLabel {
	letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .pagination {
		font-size: 1rem;
		display: flex;
		gap: .3rem;
	}
}